  <h1> <center><img src="/logo2.jpg" width="80" height="80"> &nbsp Join Together</h1>
  <br />
  <style>
      @font-face { font-family: 'GyeonggiBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
* {font-family: 'GyeonggiBatang'; }
     </style>
<div class="container">
  <form action="/update/<%= @one_post.id %>" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">글 제목</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" value="<%= @one_post.title %>">
    </div>

    <div class="form-group">
      <label for="exampleTextarea">내용</label>
      <textarea class="form-control" id="exampleTextarea" rows="8" name="content"><%= @one_post.content%></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/item/<%= @one_post.id %>">글로 돌아가기</a>
</div>
